.section-carrito--visible{


    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    align-self: center;

    
    .btn__enviarCarrito{
        order: 2;
        width: 15%;
        align-self: center;
    }
    
    .cerrar-carrito{
        width: 15%;
        align-self: flex-end;
    }
    
    @media (min-width:340px) and (max-width:550px){

       
        
        .btn__enviarCarrito, .cerrar-carrito{
            width: 40%;
        }
    }

    @media (min-width:1024px){
        &{
            width: 60vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    

    
    

}

