.section-carrito--visible{


    .carrito{
        overflow: scroll;
        overflow-x: hidden;
        height: 350px;
        &::-webkit-scrollbar{
            width: 8px; 
        }
    
        &::-webkit-scrollbar-thumb {
            background: $dark-green;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $green;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
        &::-webkit-scrollbar-track {
            background: #e4e4e4;
            width: 5px;
        }
        &::-webkit-scrollbar-track:hover,
        &::-webkit-scrollbar-track:active {
            background: #d3d3d3;
        }
    }

    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
    background-color: $light-green;

    h2{
        color: $dark-green;
    }

    button {
        max-width: 100px;
    }
    .btn__enviarCarrito{
        order: 2;
        /* width: 15%; */
        align-self: center;
        
    }
    
    .cerrar-carrito{
        width: 15%;
        align-self: flex-end;
        
    }

    .table{
        .cantidades{
            .cantidad{
                margin: auto;
                width: 100%;
            }
        }
    }

    
    
    @media (min-width:340px) and (max-width:550px){

        .cantidad {
            width: 10px;
        }
        
    }

    @media (min-width: 550px) and (max-width: 1024px){
        &{
            width: 70vw;
        }
        
    }

    @media (min-width:1024px){
        &{
            width: 80vw;
            margin: auto;
            .cantidad{
                padding: 5px;
                align-self: flex-start;
            }
            .table{
                overflow: visible;
            }
            th{
                padding: 2px;
            }
            td{
                font-size: 15px;
            }
        }
    }

}



