@import '../base/variables';

/***********HEADER*****************/

.main-header {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

#menu {
  display: none;

 


  &:checked + .nav-bar {
    height: 5vh;
    opacity: 1;
  }

  

}

/*****NAVBAR***/

.nav-bar {
  align-items: center;
  background-color: $green;
  opacity: .8;
  display: flex;
  height: 5vh;
  justify-content: center;
  order: 2;
  position: relative;
 
  
  &__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 80%;
    border-radius: 20px;
    height: 100%;
    
  }
  &__nav-item {
    padding: 0px 10px;
    padding-top: 3px;
    text-align: center;
  }

  &__nav-link {
    color: black;
    font-size: 1.3rem;
    height: 100%;
    text-align: center;
    text-decoration: none;
    transition: all .5s;
    margin: 10px;

    &:hover{
      transition: all .5s;
      border-radius: 15px;
      color: $white;
      background-color: $dark-green;
      color:$light-green ;
      padding: 5px;
    }

  }

  @media (min-width:340px) and (max-width:768px){
    &__nav-link{
      font-size: 17px;
      &:hover{
        padding: 3px;
      }
    }
    &__nav-list{
      width: 100%;
    }
  }
  @media (min-width:768px){
    &__nav-link{
      font-size: 25px;
    }
    &__nav-list{
      width: 80%;
      
    }
  }

  @media (max-width: 768px) {
    & {
      flex-wrap: wrap;
      order: 2;
      display: flex;
      height: 0;
      opacity: 0;
      flex-direction: row;
      transition: all .5s ease-in-out;
    }
  }
}

/***SEARCH BAR***/
.search-bar {
  height: 10vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(238,238,238,1) 75%);

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100vw;

  }

  &__form-container {
    align-items: center;
    display: flex;
    flex-basis: 60%;
    justify-content: flex-start;
  }

  &__form-label {
    display: none;
  }

  &__form-search {
    background-color: #c7c7c7;
    border-radius: 10px 0 0 10px;
    border: none;
    height: 50px;
    padding: 0;
    transition: 0.3s;
    margin-right: 2px;
    width: 50%;

    &:focus{
      background: $green;
      color: $white;
      transition: 0.3s;
    }

  }

  &__form-submit {
    width: 70px;
    height: 20px;
    background-color: $green;
    border-radius: 30em;
    font-size: 15px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all .5s;
    border-radius: 0 10px 10px 0;

    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
    }
  }

  &__carrito-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &--notificador{
      background-color: $green;
      border-radius: 100%;
      color: $white;

      display: flex;
      align-items: center;
      justify-content: center;

      height: 25px;
      width: 25px;

      position: absolute ;
      top: 55%;
      left: 15%;
    }
    
  }
  

  @media (min-width:340px){
    &{
      display: grid;
      align-items: center;
      grid-template-columns: 1fr, 1fr, 1fr;
      grid-template-rows: 1fr, 3fr;
      justify-content: center;
    }
    &__form-container{
      grid-column: 2;
      grid-row: 2;
      justify-self: center;
      padding-bottom: 0;
      padding-top: 0;
      width: 200px;
    }
    &__form-search{
      font-size: 8px;
      height: 20px;
      text-align: center;
      width: 80%;
    }
    &__form-submit{
      font-size: 10px;
      height: 20px;
      text-align: center;
    }
    &__logo-container{
      grid-column: 1/4;
      grid-row: 1;

      img{
        width: 70%;
      }
    }
    &__carrito-container{
      grid-column: 1;
      grid-row: 2/3;
      img{
        width: 30px;
      }
    }
  }
 
  @media (min-width:480px){
    &__logo-container{
      padding: 0;
      img{
        width: 40%;
      }
    }
    &__form-container{
      width: 350px;
    }
    &__form-search{
      font-size: 13px;
      height: 25px;
      text-align: center;
      width: 90%;
    }
    &__form-submit{
      font-size: 13px;
      height: 25px;
      text-align: center;
    }
    }
  

  @media (min-width:768px){
    &{
      display: flex;
    }
    &__logo-container{
    justify-content: start;
    margin: 5px;
    width: 50%;

    img {
      width: 100%;
    }
    }

    &__form-search{
      max-width: 600px;
    }
    &__carrito-container{
      img{
        width: 40px;
      }
    }
  }
  
  @media (min-width:1500px){
    &__logo-container{
      width: 30%;
    }
    &__form-container{
      justify-content: flex-start;
      width: 200px;
    }
    &__form-search{
      height: 30px;
      width: 50%;
      font-size: 20px;
    }
    &__form-submit{
      height: 30px;
      font-size: 20px;
      transition: all .5s;
    }
    &__carrito-container{
      background-size: 130px;
      flex: 0 0 5em;
      height: 100%;
    }

  }
}

//Menu TOGGLE

.menu-toggle {
  cursor: pointer;
  display: none;
  flex: 0 0 3em;
  position: relative;

  &__label {
    background-color: black;
    display: block;
    height: 100%;
  }

  &__top-bread,
  &__meat,
  &__bottom-bread {
      display: block;
      background-color: #333;
      height: .2em;
      position: absolute;
      left: .5em;
      right: .5em;
  }

  &__top-bread {
      top: .8em;
  }

  &__meat {
      top: 50%;
      margin-top: -.1em;
  }

  &__bottom-bread {
      bottom: .8em;
  }

  @media (max-width:768px){
    & {
      display:block;
    }
  }

  @media (min-width:300px){
    &{
      width:40px;
      background-size: 100%;
      justify-self: end;
      grid-column: 3;
      grid-row: 2/3;
    }

    &__top-bread {
      top: .5em;
    }

    &__bottom-bread {
        bottom: .5em;
    }
  }
  
}
