@import '../base/variables';

/***********HEADER*****************/

.main-header {
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    & {
      flex-direction: column-reverse;
    }
  }
}

#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }

  &:checked ~ .search-bar .menu-toggle__label {
    background-color: yellow;
  }
}

/*****NAVBAR***/

.nav-bar {
  background-color: mediumaquamarine;
  order: 2;

  &__nav-list {
    display: flex;
    height: 10vh;
    justify-content: center;
    list-style-type: none;

    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__nav-item {
    padding: 20px;
    text-align: center;
  }

  &__nav-link {
    background-color: purple;
    color: #fff;
    display: block;
    height: 100%;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    & {
      display: none;
    }
  }
}

/***SEARCH BAR***/
.search-bar {
  background-color: $colorHeader;
  display: flex;
  justify-content: space-between;

  &__logo-container,
  &__form-container {
    padding: 1em;
  }

  &__logo-container {
    content: url(../../img/logos/logo.png);
    width: 15vw;
  }

  @media (min-width:390px){
    &__logo-container{
      width: 40vw;
    }
  }
  @media (min-width:480px){
    &__logo-container{
      width: 30vw;
    }
  }
  @media (min-width:768px){
    &__logo-container{
      width: 20vw;
    }
  }

  &__form-container {
    align-items: center;
    background-color: $colorHeader;
    display: flex;
    flex-basis: 100%;
    justify-content: flex-start;
  }

  &__form-label {
    background-color: greenyellow;
    display: none;
  }

  &__form-search {
    background: #e8e8e8;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 20px 20px 60px #c5c5c5,-20px -20px 60px #ffffff;
    height: 50px;
    padding: 1rem;
    transition: 0.3s;
    width: 50%;

    &:focus{
      background: #e8e8e8;
      box-shadow: inset 20px 20px 60px #c5c5c5,inset -20px -20px 60px #ffffff;
      outline-color: #e8e8e8;
      transition: 0.3s;
    }


  }

  &__form-submit {
    background: #e8e8e8;
    border-radius: 15px;
    border: unset;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    color: black;
    overflow: hidden;
    padding: 15px 25px;
    position: relative;
    transition: all 250ms;
    z-index: 1;

    &::before{
      background-color: #212121;
      border-radius: 15px;
      box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: all 250ms;
      width: 0;
      z-index: -1;
    }

    &:hover{
      font-weight: 1000;
    }

    &:hover::before{
      width: 100%;
    }
  }

  &__carrito-container {
    flex: 0 0 3em;
  }
}

//Menu TOGGLE

.menu-toggle {
  background-color: red;
  cursor: pointer;
  display: none;
  flex: 0 0 3em;
  position: relative;

  &__label {
    background-color: black;
      display: block;
      height: 100%;
  }

  &__top-bread,
  &__meat,
  &__bottom-bread {
      display: block;
      background-color: #333;
      height: .2em;
      position: absolute;
      left: .5em;
      right: .5em;
  }

  &__top-bread {
      top: .8em;
  }

  &__meat {
      top: 50%;
      margin-top: -.1em;
  }

  &__bottom-bread {
      bottom: .8em;
  }

  @media (max-width:768px){
    & {
      display:block;
    }
  }
}
