/***********HEADER*****************/

.main-header {
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) {
    & {
      flex-direction: column-reverse;
    }
  }
}

#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }

  &:checked ~ .search-bar .menu-toggle__label {
    background-color: yellow;
  }
}

/*****NAVBAR***/

.nav-bar {
  background-color: mediumaquamarine;

  &__nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;

    @media (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__nav-item {
    text-align: center;
    background-color: pink;
  }

  &__nav-link {
    display: block;
    background-color: purple;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    & {
      display: none;
    }
  }
}

/***SEARCH BAR***/
.search-bar {
  background-color: olivedrab;
  display: flex;
  justify-content: space-between;

  &__logo-container,
  &__form-container {
    padding: 1em;
  }

  &__logo-container {
    background-color: yellow;
  }

  &__form-container {
    background-color: gold;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }

  &__form-label {
    background-color: greenyellow;
  }

  &__form-search {
    background-color: deeppink;
    width: 70%;
  }

  &__form-submit {
    background-color: darkslategray;
  }

  &__carrito-container {
    flex: 0 0 3em;
    background-color: goldenrod;
  }
}

//Menu TOGGLE

.menu-toggle {
  display: none;
  background-color: red;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;

  &__label {
      display: block;
      background-color: black;
      height: 100%;
  }

  &__top-bread,
  &__meat,
  &__bottom-bread {
      display: block;
      background-color: #333;
      height: .2em;
      position: absolute;
      left: .5em;
      right: .5em;
  }

  &__top-bread {
      top: .8em;
  }

  &__meat {
      top: 50%;
      margin-top: -.1em;
  }

  &__bottom-bread {
      bottom: .8em;
  }

  @media (max-width:768px){
    & {
      display:block;
    }
  }
}
