main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo{
    background-color: $light-green;
    border-radius:20px ;
    h1, h2{
        color: $dark-green;
    }
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $light-green;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.534);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);

}

.label, .input{
    border: 2px solid transparent;
    border-bottom-color: $green;
    padding: 20px;
    margin: 20px;
    outline: none;
    color: $dark-green;
    font-size: 1.5rem;
}

.input {
    line-height: 28px;
    background-color: transparent;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   
   &:focus,&:hover {
    outline: none;
    border-radius: 1rem;
    border-color: $green
   }
   
   &::placeholder {
    color: #777;
    font-size: 1rem;
   }
   
   &:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
}

