.table{
    background-color: $light-green;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $dark-green;
    border-radius: 20px;
    margin: 15px;

    @media (min-width:350px){
        
        &{
            margin: 2px;
        }
        
        td, th{
            font-size: 10px;
            padding: 3px;
        }

        td{
            img{
                width: 50px;
                border-radius: 100%;
            }

            button {
                font-size: 10px;
            }
        }
    }

    @media (min-width:768px){
        &{
            margin: 30px;
        }
        
        td, th{
            font-size: 17px;
            padding: 2px;
        }

        td{
            img{
                width: 60px;
            }

            button {
                font-size: 15px;
            }
        }
    }

    @media (min-width:1024px){
        &{
            margin: 0;
            width: 85%;
        }
        
        td,th{
            padding: 5px;
            font-size: 24px;
        }

        td{
            img{
                width: 100px;
            }

            button {
                font-size: 20px;
            }
        }
    }

    tr{

        font-weight: bold;

        &:first-of-type{
            background-color: $dark-green;
            color: $light-green;
            font-weight: bold;

            td, th{
            border-radius: 10rem;

            }
        }

        td{
            text-align: center;
            padding: 5px;

            border-bottom: 1px solid black;
            border-radius:0px;

        }
    }
}