@import '../base/variables';
*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   /* box-sizing: inherit; */
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar{
        width: 8px; 
    }

    &::-webkit-scrollbar-thumb {
        background: $green;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $dark-green;
    }
    &::-webkit-scrollbar-track {
        background: #e4e4e4;
    }
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
        background: #d3d3d3;
    }

    overflow-x: hidden;
}