@import '../base/variables';

body{
    background-image: url(../../img/fondo/fondo.png);
}
.section-cards{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__header{
        h1{
            font-size: 32px;
            text-align: center;
        }
        h1,p{
            padding: 5px;
        }
    }

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    @media(min-width: 1200px){
        
        &{
            gap: 2em;
        }
    }
}