.info{
    background-color: $light-green;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.534);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    margin: 10px;

    h2{
        color: $green;
        margin: 5px;
    }

    p{
        align-self: flex-start;
        margin: 5px;
        padding: 5px;

        a{
            color: $dark-green;
        }
    }

    iframe{
        border-radius: 20px;
        border:none;
        width: 30vw;
        height: 30vh;
        align-self: flex-start;
        margin: 5px;
        padding: 5px;

        @media (min-width:340px) and (max-width:480px){
            &{
                width: 80vw;
            }
        }
    }
}